header{
    text-align: center;
}
.add{
    display: flex;
    margin-bottom: 5px;
}
.container{

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
#tarefaDigitada{
    width: 250px; 
    height: 25px;
    
}

#adicionar{
    margin-left: 10px;
    width: 80px;
    height: 30px;  
}

button{
    cursor: pointer;
}

table{
    border-collapse: separate;
    border-spacing: 10px 0px;
}
td{
    font-size: 14px;
    min-width: 80px;
    height: 20px;
}
input[type=checkbox]:checked + label {
    text-decoration: line-through;
    }